<!DOCTYPE html>
<html>
<head>
  <title> Fakr </title>
  <link href="<%= url('/application.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
  <header>
    <div class="header">
      <h1 class="logo">Faker</h1>
      <nav class="navigationlinks">
        <a href="#">Hot</a>
        <a href="#">New</a>
        <a href="#">Rising</a>
        <a href="#">Controversial</a>
        <a href="#">Top</a>
        <a href="#">Gilded</a>
        <a href="#">Wiki</a>
        <a href="#">Promoted</a>
      </nav>
    </div>
  </header>
    <div class="side">
      <div class="spacer">
        <form>
         <input class="searchbar" type="text" placeholder="Search" required>
          <input class="searchbutton" type="button" value="Search">
        </form>
      </div>
      <div class="spacer">
        <form>
          <input class="signup" type="button" value="signup">
          <input class="register" type="button" value="register">
        </form>
      </div>
    </div>
    <div class="links">
      <% @links.each do |link| %>
        <%= render partial: "links", locals: { link: link } %>
      <% end %>
    </div>
  </div>
</html>